/* background behind the logo*/
#header {
    background: #fff;
    border-color: #fff;
}
#header-wrapper {
    background: #fff;
    color: #fff;
    text-align: center;
    border-bottom: 6px solid #494949;
    padding: 1rem;
}

/* Background color of the menu */
#sidebar {
  background-color: #494949;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color:  #303030;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #0047ff;
}
a:hover {
   color: #2f69ff;
}

p{
    font-size:  1.15rem;
}
